In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("WineQT.csv")

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [15]:
hi=df.loc[df["alcohol"].idxmax()][["alcohol","quality"]]
hi

alcohol    14.9
quality     5.0
Name: 462, dtype: float64

In [37]:
wi=df.loc[(df["alcohol"]>=10) & (df["alcohol"]<=12) & (df["quality"]>=6)]
wi["Id"].count()

np.int64(378)

In [18]:
avg=df[df["quality"]>=7].mean()
avg

fixed acidity             8.846541
volatile acidity          0.395314
citric acid               0.391195
residual sugar            2.748428
chlorides                 0.074711
free sulfur dioxide      14.188679
total sulfur dioxide     36.672956
density                   0.996019
pH                        3.282453
sulphates                 0.745849
alcohol                  11.528407
quality                   7.100629
Id                      827.081761
dtype: float64

In [24]:
den_avg=df["density"].mean()
Alc_avg=df["alcohol"].mean()
den=df[(df["density"]>den_avg) & (df["alcohol"]<Alc_avg)]
den

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,8.0,0.390,0.30,1.9,0.074,32.0,84.0,0.99717,3.39,0.61,9.0,5,1533
1103,11.2,0.400,0.50,2.0,0.099,19.0,50.0,0.99783,3.10,0.58,10.4,5,1548
1105,7.1,0.670,0.00,2.3,0.083,18.0,27.0,0.99768,3.44,0.54,9.4,5,1551
1107,7.3,0.735,0.00,2.2,0.080,18.0,28.0,0.99765,3.41,0.60,9.4,5,1553
1111,6.9,0.630,0.33,6.7,0.235,66.0,115.0,0.99787,3.22,0.56,9.5,5,1558

In [29]:
s_wine=df[(df['pH']>3.5) & (df['citric acid']>0.4) & (df["quality"]>=7)]
s_wine

Empty DataFrame
Columns: [fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, quality, Id]
Index: []

In [30]:
df["sulphur_ratio"]=df["free sulfur dioxide"]/df["total sulfur dioxide"]
avg_sul=df.groupby("quality")["sulphur_ratio"].mean()
avg_sul

quality
3    0.367212
4    0.412202
5    0.337679
6    0.406697
7    0.432024
8    0.389938
Name: sulphur_ratio, dtype: float64